/* * * * * * * * * * * * * * 
GENERAL
* * * * * * * * * * * * * */

/* 
black - #161616
red - #e01e3c
white = #fff
*/

body {
    background: #f7f7f8;
}

h1, h2, h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 36px;
}

button {
    font-family: 'Oswald', sans-serif;
}

li {
    list-style: none;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}





/* * * * * * * * * * * * * * 
HEADER
* * * * * * * * * * * * * */

header {
    background: #161616;
    height: 80px;
}

header .wrapper {
    height: 80px;
    display: flex;
    align-items: center;
}

.menu {
    margin-right: auto;
    /* background: red; */
    display: flex;
    align-items: center;
    flex: 1;

}

.logo {
    height: 40px;
    width: 40px;
    background: url('./img/logo.svg');
    background-size: contain;
}


.menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: space-around;
}





.menu a {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    
}

.icon-container {
    height: 30px;
    flex: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}






/* * * * * * * * * * * * * * 
HERO
* * * * * * * * * * * * * */

.hero {
    height: 600px;
    background: url('./img/hero-large.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
}

.hero .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.hero p {
    max-width: 800px;
}

.button-container {
    margin: 40px 0 80px;
}

button {
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px 35px ;
    color: white;
    background: #161616;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-right: 20px;
}

.red-button {
    background: #e01e3c;
    border-color: #e01e3c;
}









/* * * * * * * * * * * * * * 
FEATURED PRODUCTS
* * * * * * * * * * * * * */

.featured-products {
    margin: 80px 0; 
}


.featured-products .wrapper {
    max-width: 700px;

}

.featured-products h2 {
    text-align: center;
}

.featured-products .card-wrapper {
    display: flex;
}

.featured-products img {
    width: 100%;
    max-width: 300px;
}

.featured-products .card-content {
}


.featured-product-card {
    flex:1;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.featured-product-card p {
    text-align: center;
    color: #161616;
    margin-bottom: 10px;
}

.featured-product-card span {
    text-align: center;
    display: block;
    color: #161616;
    opacity: 0.6;
    font-size: 0.8em;
}



@media (max-width: 600px) {
    .featured-products .card-wrapper {
        flex-direction: column;
    }

    .featured-products h2 {
        font-size: 30px;
    }
}











/* * * * * * * * * * * * * * 
SHOWCASE PRODUCT
* * * * * * * * * * * * * */

.showcase-product {
    height: 200px;
    
}




/* * * * * * * * * * * * * * 
PRODUCT SUUPORT
* * * * * * * * * * * * * */

.product-support {
    height: 200px;
    
}



/* * * * * * * * * * * * * * 
JOIN FORM
* * * * * * * * * * * * * */

.join-form {
    height: 200px;
    
}




/* * * * * * * * * * * * * * 
FOOTER
* * * * * * * * * * * * * */

footer {
    background: #222;
    height: 200px;
    
}